body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
  font-size: 18px;
  height: 100%;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 55px;
  padding-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.747);
}

h2 {
  color: #C0C0C0;
  margin-bottom: 3%;
  font-weight: bold;
  font-size: 18px;
  margin-top: 60px;
  margin-left: 10px;
}

h2.first {
  margin-top: 40px;
}

h2.second {
  margin-bottom: 20px;
}

#compteur {
  color: #007bff;
  margin-bottom: 1%;
  max-width: 600px;
  font-size: 14px;
}

#to-B2B,
#to-B2C {
  box-shadow: 1px 1px 8px rgb(212, 212, 212);
  padding: 21px;
  padding-top: 35px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.418);
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
}

#to-B2B:hover,
#to-B2C:hover {
  background-color: rgb(236, 236, 236);
}

#B2B,
#B2C,
#form {
  display: none;
}

.img-second {
  width: 104px;
  padding: 21px;
  background-color: rgba(255, 255, 255, 0.747);
  border-radius: 5px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
}

.img-second:hover {
  background-color: rgb(236, 236, 236);
}

h2.infos {
  margin-top: 70px;
  margin-bottom: 0;
}

.form-control {
  max-width: 600px;
  margin-bottom: 15px;
}

p.text-center {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
}

.b {
  top: 10px;
  left: 40%;
}

.logo {
  margin-left: 10px;
  width: 120px;
}

/* MEDIA QUERIES => */

@media (max-width: 307px) {
  .img-second {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
  }
  #to-B2B,
  #to-B2C {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
  }
}

@media (max-width: 959px) {
  h1 {
    font-size: 2rem;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 467px) {
  h1 {
    font-size: 1.5rem;
    padding-left: 24px;
    padding-right: 24px;
  }
  .logo {
    width: 90px;
  }
}

@media (max-width: 332px) {
  h1 {
    padding-bottom: 15px;
    padding-top: 50px
  }
}

@media (max-width: 767px) {
  h2.second,
  h2.infos {
    margin-top: 15px;
  }
}